In [ ]:
## DATA SCIENCE BATCH-2023 Assignment 5

In [ ]:
## Q1. Write a Python function to find the maximum of three numbers in a list.

In [90]:
# Import the necessary modules
import numpy as np
import pandas as pd
import random as rd

In [93]:
# define a function
def maximum_number(x, y, z):

    if (x >= y) and (x >= z):
        max = x

    elif (y >= x) and (y >= z):
        max = y
    else:
        max = c
    return max
# check the code to get the maximum number
x, y, z = [40, 10, 30]
Maximum_value = maximum_number(x, y, z)
print ('The maximum number of the three list is', Maximum_value)

The maximum number of the three list is 40

In [ ]:
## Q2. Write a Python function to multiply all the numbers in a list.

In [94]:
# define a function
def multiply_number (numbers):
  i = 1
  for a_num in numbers:
        i = a_num*i
  return i

# check the code to multiply the numbers
numbers = [40, 10, 30]
answer = multiply_number (numbers)
print ('Multiplying the numbers in a list gives', answer)

Multiplying the numbers in a list gives 12000

In [95]:
## Q3. Write a Python program to reverse a list

#define a function to start reading from the end of a list

def list_reverse(input_list):
    return input_list[::-1]

    # Example usage:
Yenne_list = [11, 12, 13, 14, 15, 16, 18, 19]
Yenne_list_OK = list_reverse(Yenne_list.copy())
print ('The reversred list is;', Yenne_list_OK)

The reversred list is; [19, 18, 16, 15, 14, 13, 12, 11]

In [ ]:
## Q4.  Write a Python function to check whether a number falls within a given range in a list

In [96]:
# define a function
def finding_range(numbers):

    if numbers in range(1,20):
        print("The number is in the range.")
    else:
        print("The number is not within the range.")
# check the code
finding_range(500)

The number is not within the range.

In [97]:
## Q5.  Write a Python function that accepts a string and counts the number of upper and lower case letters

In [98]:
def upper_and_lower(alphabet_string): # definign the function
  upper_al = 0
  lower_al = 0

  for character in alphabet_string:
    if character.isupper():
      upper_al = upper_al + 1

    elif character.islower():
      lower_al = lower_al + 1

  return 'Upper case total count is', upper_al,'Lower case letters total count is', lower_al
print
print
# check if the code works
Characters = 'YenneEE'
Upper_Lower= upper_and_lower(Characters)
Upper_Lower

('Upper case total count is', 3, 'Lower case letters total count is', 4)

In [100]:
## Q6. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

def distc(numbers):
  ## convert the numbers to set to remove duplicates
  unique_set = set(numbers)
  ## convert the numbers to list
  unique_list = list(unique_set)
  return unique_list


# check the code
Sample_List = [1,2,3,3,3,3,4,5]
UniqueList = distc(Sample_List)
UniqueList

[1, 2, 3, 4, 5]

In [101]:
## Q7.Apply all system defined functions like append, remove etc on a given list.

## Using the example Sample_List = [1,2,3,3,3,3,4,5,7,9,9,18]

######### 1. Applying append on the above
Sample_List_new = [1,2,3,3,3,3,4,5,7,9,9,18]
Sample_List_new.append(100)
Sample_List_new

[1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]

In [102]:
######### 2. Applying remove on the above
Sample_List_new = [1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]
Sample_List_new.remove(5)
Sample_List_new

[1, 2, 3, 3, 3, 3, 4, 7, 9, 9, 18, 100]

In [103]:
######## 3. Applying sort on the above
Sample_List_new = [1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]
Sample_List_new.sort()
Sample_List_new

[1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]

In [104]:
######### 4. Applying clear on the above
Sample_List_new = [1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]
Sample_List_new.clear()
Sample_List_new

[]

In [105]:
########## 5. Applying clear on the above
Sample_List_new = [1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18, 100]
Sample_List_new.pop()
Sample_List_new

[1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 9, 18]

In [106]:
## Q8. WAP to Convert a list into a dictionary.

def list_funct(numbers):
  ## Convert the numbers to dictionary
  dict_res = {}
  i = 0
  for i in range(len(numbers)):
    dict_res[i] = numbers[i]
  return dict_res

# check the code
Sample_List = ['dog', 'cat', 3, 4, 5,'Hen', 9, 18]
Dict_List = list_funct(Sample_List)
print(Dict_List)

{0: 'dog', 1: 'cat', 2: 3, 3: 4, 4: 5, 5: 'Hen', 6: 9, 7: 18}

In [107]:
## Q9. WAP to Create a dictionary by extracting the keys from a given dictionary
# Inputs
sample_dict = {"name": "Kelly","age": 25,"salary": 8000,"city": "New york"}
#define a function
def dict_extract(sample_dict):
     return

#Solution:
Output = dict_extract(sample_dict)   ## call the function
print(('name:' + str(sample_dict.get("name")),
       'salary:' + str(sample_dict.get("salary"))))

('name:Kelly', 'salary:8000')

In [108]:
# Q10. WAP to Get the key of a minimum value from the following dictionary

#Input:
sample_dict = {'Physics': 82,'Math': 65, 'history': 75}

# Find the key with the minimum value
min_value = min(sample_dict, key=sample_dict.get)

# Output minimum value
print("The minimum value:", min_value)

The minimum value: Math

In [109]:
# Q11. WAP to Sort dictionary by values - descending scores

#Input:
sample_dict = {'Physics': 82,'Math': 65,'history': 75,'chemistry': 89,'GK': 50}

# Sort the dictionary by values in descending order
sorted_sample_dict = dict(sorted(sample_dict.items(), key=lambda item: item[1], reverse=True))
print(sorted_sample_dict)

{'chemistry': 89, 'Physics': 82, 'history': 75, 'Math': 65, 'GK': 50}